$text: rgb(58, 58, 58);

.borderTab{
  border: 1px solid black;
  width: 27px;
  height:27px;
  text-align: center;
}

#app > div {
  display: grid;
  grid-template-columns: auto 1fr;
}

.rightLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightLayout > div {
  padding: 3rem;
  border: solid 1px black;
}

#divBtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 27px;
  > button {
    cursor: pointer;
  }
}

.block{
  padding: 0;
  baground-color: #ebebe0
}

.block > div {
  min-height: 100%;
  width: 27px;
}

.bar {
  width: 30em;
  height: 1em;
  border-radius: 0.5em;
  position: relative;
  background: #f2f2f2;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}

.bar .percentage {
  position: relative;
  font-size: 1em;
  background: tomato;
  height: 1em;
  border-radius: 0.5em;
}

.entityWater{
  background-color: aqua;
}
.entityUnPlayable{
  background-color: black !important;
}
.entityVillage{
  background-color: lime;
}
.entityTower{
  background-color: Purple;
}
.entityZone{
  background-color: BlueViolet;
}
.entity-1{
  background-image: url("/asset/image/guillaume-04.png");
}
.entityBase{
  background-image: url("/asset/image/base.png");
}
.player-1{
  background-color: black;
}
.player0{
  background-color: #c2c2a3;
}
.player1{
  background-color: blue;
}
.player2{
  background-color: red;
}
.player3{
  background-color: violet;
}
.player4{
  background-color: yellow;
}

.entityA{
  background-color: AliceBlue
}
